*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('tovp-night-view_1920x1080.jpg.webp') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    color: white;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 38px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    font-family: Montserrat;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    padding: 20px 55px 20px 20px;
    font-size: 16px;
    color: white;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 14px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 5px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    border-radius: 40px;
    outline: none;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.wrapper .btn:active{
    opacity: 0.7;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;

}

.wrapper .register-link a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.wrapper .register-link a:hover{
    text-decoration: underline;
}

