.header{
    display: flex;
    color: black;
    
    justify-content: space-between;
    padding: 5px 30px;
    column-gap: 700px;

    position: sticky;

    /* border-bottom-style: solid;
    border-bottom-color: grey;
    border-width: 1.5px; */

    background: linear-gradient(45deg, #98fff1, #f6fbb0, #9effa2);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.logo a{
    
    font-weight: 700;
    font-size: 70px;
    font-family: Tangerine;
    background-image: linear-gradient(rgb(154, 0, 0), blue);
    color: transparent;
    background-clip: text;

    width: 400px;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(28, 160, 2, 0.7); */
}

.logo p{
    color: rgb(0, 32, 160);
    font-size: 12px;
    font-family: "Playwrite AU SA", serif;
    margin-left: 100px;
    margin-top: -18px;
    margin-bottom: 0px;
}

.logo p span{
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
}

.right-section{
    display: grid;
    /* text-align: center;
    align-items: center; */
    place-content: center;

    /* grid-template-columns: 10px 10px 10px 10px 10px 10px;
    column-width: 10px; */

    position: absolute;
    right: 0;
    top: 25px;
}

@media(max-width: 856px){
    .right-section{
        grid-template-columns: 1fr  1fr 1fr 1fr;
    }
}

@media(min-width: 857px) and (max-width:999px){
    .right-section{
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    }
}

@media(min-width: 1000px){
    .right-section{
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    }
}


.right-section a{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;

    font-size: 18px;


    width: 100px;
    height: 40px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    place-content: center;
    column-gap: -10px;
    transition: 0.3s;
}

.right-section a:hover{
    font-size: 22px;
    margin: 0;
}

.right-section a button{
    transition: transform 0.3s ease;
}

.right-section a button:hover{
    transform: scale(1.2);
}

.right-section a button{
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.right-section a button:hover{
    opacity: 0.8;
}

.right-section a button:active{
    background-color: white;
    color: rgb(0, 123, 255);
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(0, 123, 255);
}

.right-section a:active{
    color: lightblue;
    background-image: linear-gradient(rgb(154, 0, 0), blue);
        color: transparent;
        background-clip: text;
}